@import url('https://fonts.googleapis.com/css3?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&family=Roboto:wght@400;700&display=swap');


html{
  min-height: 100%;
  --background-color: #F4F3F2;
  --text-color: #23221E;
  --red-color: #C93C42;
  --pink-color: #C7767A;
  --grey-color: #625F54;
  --light-grey-color: #EAE8E7;
  --ultra-light-grey-color: #F7F7F7;
  font-size: 16px; /* setting the size of the font-size in the html selector dictates the size of rem */
}
body{
  margin:0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color:var(--text-color);
}
h1,h2,h3,h4,h5,h6{
  color: var(--text-color);
}
h1{
  color: var(--red-color);
}
h2{
  border-bottom: 1px solid var(--pink-color);
}

a{
  text-decoration: none;
}
a:any-link{
  color:var(--text-color);
}
a:hover{
  color: var(--grey-color);
}

header{
  margin:0;
}


footer{
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: auto;
  background-color: var(--red-color);
  color: var(--light-grey-color);
}

img{
  height:200px;
}

nav{
  border-bottom: 1px solid var(--pink-color);
  background-color: var(--red-color);
  padding: 1rem;
}

nav > a{
  font-weight: 700;
}
nav >a:any-link{
  color: var(--background-color);
}
nav > a:hover{
  color: var(--ultra-light-grey-color)
}

table {
  margin: 0;
  padding: 0;
  width: 800px;
}
table > thead{
  text-align: left;
  background-color: #EFE5E0;
  font-size: 1.2rem;
  margin:0px;
}
td,tr,th{
  margin: 0px;
  /* padding: 0.5rem 0.5rem 0.5rem 2rem; */
  padding: 5px;
}
tr:nth-child(even){
  background-color: #EAE8E7;
}

ol{
  padding-left: 70px;
}
ol li::marker{
  font-size:3rem;
  font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: var(--red-color);
  padding: 1rem;
}
ol li{
    min-height: 3rem;
}

.hero{
  position: relative;
  background-image: url("https://mks.io/public-tacos");
  height: 25vh;
  background-size: cover;
  background-position: 35% 45%;
  padding: 1rem;
  border-bottom: 1px solid var(--pink-color);
  border-top: 1px solid var(--pink-color);
}

.hero h1{
  color: var(--background-color);
  text-shadow: 2px 2px 5px var(--text-color);
  -webkit-text-stroke: thin var(--text-color);
  font-size: 2.5rem;
  padding-left: 1rem;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

.stars{
  font-size: 1.5rem;
  font-weight: 700;
}

.container{
  display: flex;
  flex-direction: column;
}
.padding-1-rem{
  padding: 1rem;
}

.food-list-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.food-list-item{
  padding: 1rem;
  margin: 1rem;
  background-color: var(--light-grey-color);
  display: flex;
  flex-direction: column;
}

.stars{
  /* color: yellow; */
  /* text-shadow: 0px 0px 5px black; */
}

.container{
  display: flex;
  flex-direction: column;
}
.padding-1-rem{
  padding: 1rem;
}

.food-list-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.food-list-item{
  margin: 0.5rem;
  display:flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  border-top: 1px solid var(--grey-color);
  border-left: 1px solid var(--grey-color);
  border-bottom: 2px solid var(--grey-color);
  border-right: 2px solid var(--grey-color);
}

.food-list-item:hover{
  background-color: var(--ultra-light-grey-color);
  border-left: 1px solid var(--red-color);
  border-top: 1px solid var(--red-color);
  border-bottom: 2px solid var(--red-color);
  border-right: 2px solid var(--red-color);
  transition: all 250ms linear;
}
.food-link{
  padding: 0;
  margin: 0;
}


@media (max-width: 768px) {
  table{
    width: 100%;
  }
  .food-list-container{
    grid-template-columns: 1fr 1fr;
  }
}
  

@media (max-width: 500px){
  .food-list-container{
    grid-template-columns: 1fr;
 }
}
